<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>请输入你要转换的网址:</h1>
	<form method="post" action="/url">
		<input type="text" name="longUrl">
		<input type="submit" value="提交">
	</form>
  </body>
</html>
