<!DOCTYPE html>
<html>
  <head>
    <title>New ShortUrl</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>生成的短网址: <a href="<%= shortUrl %>"><%= shortUrl %></a>　　　<a href="/">返回首页</a></h1>
  </body>
  <script>
	
  </script>
</html>
